header * {
  margin: 0;
}
footer {
   position: fixed;
   bottom: 1em;
}
header, footer {
  color: grey;
  background-color: antiquewhite;
  width: 100%;
}
nav {

}
a:link {
  text-decoration: none;
  color: #3164E2;
}
a:visited {
  color: #7B40CE;
 }
table {
    margin-top: 2em;
    background-color: slategrey;
    color: white;
}
/* HTML <th> defines a cell as an header for a group of cells*/
th  {
  background-color: silver;
  color: black;
}
td {
    background-color: white;
    color: black;
    padding: 0.6em;
}

/* TODO add decoration url('img/pergamos3.svg') */

:required {
  border-width: thick;
}
input:invalid {
  background: hsv(50,100,50);
}
