body {
  padding:1em;
  background: #EFEEE6;
  color: #000000;
}
a:link {
  text-decoration: none;
  color: #3164E2;
}
a:visited {
  color: #7B40CE;
 }

figure{
  margin-top: 4em;
  padding-top: 1em;
  border: solid thin #BFBFBF;
}

figcaption {
  margin-bottom: 1em;
}

img {
  width: inherit;
}
embed {
  width: inherit;
}

.logo {
  width: 8%;
}

.screenshot {
  border: medium double black;
}#cceff1
.bigbox {
   border: thin solid grey;
   margin: 4em;
   padding: 1em;
}
.inline {
  display: inline;
  margin-left: 2em;
}
header {
  border-bottom: thin dashed #7C8487;
}
footer {
   position: fixed;
   bottom: 1em;
   border-top: thin dashed #7C8487;
}
table {
    margin-top: 2em;
    background-color: #666;
    color: #690A0A;
}
tr {
    background-color : 
}
td {
    background-color: #fff;
    padding: 0.6em;
}
